@import url('https://fonts.googleapis.com/css?family=Sansita:400,900');

body {
  background-color:black;
  color:white;
  font-family:'Sansita';
}
#hero{
  text-align:center;
  margin-top:180px;
}
h1 {
  font-size:60px;
}
h2 {
  font-size:50px;
}
h3 {
  font-size:40px;
}
h4 {
  font-size:30px;
}
